<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>允许打开相册才能保存和编辑视频</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>允许打开相册才能保存和编辑视频</string>
</dict>
</plist>
